@charset 'utf-8';

/* Main Text Style */
@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Sub Text Style */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
time,
figure,
article,
nav,
header,
footer,
hgroup,
video,
audio,
aside,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Pretendard-Regular';
  font-size: 32px;
}

/* ---- main 시작 = 서영진 ----*/

/* 맨 위로 올라가는 버튼 */
.top_btn {
  position: fixed;
  cursor: pointer;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  background-image: url('image/scroll_up.png');
  background-size: contain;
}

/* ---- header  = 서영진 ---- */
.team {
  background: url('image/banner3.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 300px;
}

.title {
  font-family: 'TTLaundryGothicB';
}

.line-title,
.team-title {
  font-family: 'TTLaundryGothicB';
}

.team-content {
  width: 800px;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

/* header nav btn */

.divBtn {
  display: flex;
  flex-direction: column;
  position: fixed;
  cursor: pointer;
  bottom: 500px;
  right: 50px;
  z-index: 99;
  height: 50px;
}

.divBtn > button {
  font-family: 'TTLaundryGothicB';

  text-align: end;
  cursor: pointer;
  padding-bottom: 100px;
  background: none;
  border: none;
  width: 120px;
  height: 70px;
  font-size: 22px;
  color: black;
}

.divBtn > button:hover {
  animation: jittery 4s infinite;
}

/* 영진님 버튼 css */

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

/* ---- introduce =  이지영 ----*/

.introduce {
  padding-bottom: 90px;
  margin-bottom: 0;
  height: 100vh;
  width: 100%;
  animation: gradientChange 10s infinite;
}

.team-introduce {
  margin: 0;
  padding-top: 100px;
}

.introduce-content {
  display: flex;
  align-items: center;
  width: 60%;
}

.introduce p {
  padding-right: 200px;
}

/* ---- member 시작 = 송재헌 ----*/

.team-image {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.team-member {
  background-color: rgb(111, 140, 160);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-member > h3 {
  margin: 0;
  padding-top: 30px;
}

.member {
  width: 50%;
}

.comment {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* team 전체 감싸는 wrap */
.wrap {
  height: 100vh;
  padding: 120px 80px;
}

  /* TeamTitle css 지영 추가 Start */
.team-title {
  position: relative;
  width: 500px;
  padding-bottom: 30px;
}

.team-title::before {
  width: 100%;
  background: #f2f2f2;
}

.team-title::after {
  width: 180px;
  background: #0d0058;
}

.team-title::before,
.team-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

#team-member p {
  padding-top: 40px;
  font-size: 20px;
  line-height: 30px;
}
/* TeamTitle css 지영 추가 End */
.team-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50vh;
}

.member {
  display: inline-block;
  margin: 20px;
  width: 250px;
  position: relative;
}

.photo {
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.photo img {
  width: 100%;
  height: 100%;
}

.photo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.photo:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.icons {
  margin-top: 10px;
}

.icons a img {
  height: 35px;
  margin: 5px;
  transition: transform 0.3s;
}

.icons a img:hover {
  transform: scale(1.2);
}

/* ---- modal 시작 = 김하영 ----*/

.modal_icon {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

/* 모달 관련 스타일 */
#modal_container {
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  overflow: auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.team_modal {
  height: 100vh;
  margin: auto;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #fefefe;
  border-radius: 25px;
}

.team_modal .closeBtn img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#member_image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}

#member_image img {
  width: 100%;
  height: 100%;
}

#member_name {
  padding-top: 20px;
  font-family: 'TTLaundryGothicB';
}

#member_age {
  padding-bottom: 30px;
  font-size: 16px;
}

#member_content {
  font-size: 16px;
}

#member_content .content_inner {
  width: 400px;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  background: var(--color-white);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 20px;
}

/* ---- modal End ---- */

/********* ourTeam style Start *********/
/* -------- title style Start ------- */
.line-title {
  position: relative;
  width: 400px;
  padding-bottom: 30px;
}

.line-title::before,
.line-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.line-title::after {
  width: 60px;
  background: #0d0058;
}

/* -------- title style End------- */
/******* Middle section CSS Start ******/

.card-section {
  padding: 80px 80px;
  height: 100vh;
  background: #a6b5db;
  color: white;
}

.card-section .custom_owl {
  padding-top: 30px;
}

.card-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}

.card-section .card-subtitle {
  padding-top: 40px;
  font-size: 20px;
  line-height: 30px;
}

.card-section .item {
  margin: 0 15px 60px;
  width: 400px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-family: 'TTLaundryGothicB';
}

.card-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.card-section .item:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.card-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.card-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}

.card-section .item-desc h3 {
  font-size: 30px;
  font-family: 'TTLaundryGothicB';
}

.card-section .item-desc p {
  opacity: 0;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Pretendard-Regular';
  padding-right: 0 !important;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.4s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.card-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}



.card-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px !important;
  position: relative;
  z-index: 5;
}

/******** Middle section CSS End *******/
/******** ourTeam style End ********/
